body{
    margin: 0 0 0 0;
    min-width: 490px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.pre_nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.pre_nav_buttons{
    display: flex;
    min-width: 300px;
}
.donate_button{
    padding: 20px;
    background-color: var(--donateButtonColor);
}

.volunteer_button{
    padding: 20px;
    background-color: var(--voluntareeButtonColor);
}

.nav__menu{
    display: flex;
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--navBarBackgroundColor);
}
.linkNavContainer{
    display: flex;
    width: 80%;
    max-width: 900px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}
.linkWhite{
    color: white;
}

.main{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
}
#slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgSlider{
    max-width: 50%;
    min-width: 500px;
}
.services{
    width: 100%;
}

.bar-sep{
    margin-top: 10px;
    padding: 8px 0;
    width: 100%;
    background-color: aqua;
}
.bSep{
    margin-left: 20%;
}